body {
  padding: 0;
  margin: 0;
  position: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.card {
  position: relative;
  width: 60%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #6D6D6D40;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-spacing: 1px;
}

.card #img {
  height: 320px auto;
  width: 100%;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  transition: all .3s;
}

.card:hover #img {
  opacity: 0.5;
  transition: all .3s;
}

.card:hover .text {
  transition: all .3s;
  opacity: 0;
}

.card:hover .text2 {
  transition: all .3s;
  opacity: 1;
}

.text2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
  opacity: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;
  background: #00FF95AB;
  padding: 5px;
  box-shadow: -4px -4px 8px 0 rgba(149, 1, 255, 0.43), 6px 6px 20px 0 rgba(149, 1, 255, 0.43);
}

.text {
  transition: all .3s;
}

h3 {
  padding-bottom: 2px;
  margin-bottom: 0;
}

p {
  padding-top: 2px;
  margin-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#name {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
}

#mark {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}



@media screen and (max-width: 768px) {

  .card {
    width: 70%;
    height: 70vh auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card #img {
    height: 410px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}